<nav class="navbar navbar-default nav-style text-center navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand animated flip" href="#/browse">TITLEFLIX</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="dropdown">
                <a class="dropdown-toggle animated bounceIn"><span style="cursor:pointer">Genre</span>
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#/filterBy/genre/{{genreObj.genre}}" ng-repeat="genreObj in navBarVm.genres">{{genreObj.genre}}</a>
                    <!--<a href="#/filterBy/genre/animation">animation</a>-->
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle animated bounceIn"><span style="cursor:pointer">Year</span>
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#/filterBy/year/{{year}}" ng-repeat="year in navBarVm.years">{{year}}</a>
                    <!--<a href="#/filterBy/year/2015">2015</a>-->
                    <!--<a href="#/filterBy/year/2014">2014</a>-->
                    <!--<a href="#/filterBy/year/2013">2013</a>-->
                    <!--<a href="#/filterBy/year/2012">2012</a>-->
                </div>
            </li>
            <li class="dropdown">
                <a class="dropdown-toggle animated bounceIn"><span style="cursor:pointer">Type</span>
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#/filterBy/type/{{type}}" ng-repeat="type in navBarVm.types">{{type}}</a>
                    <!--<a href="#/filterBy/type/series">Series</a>-->
                </div>
            </li>
            <li class="dropdown sort">
                <a class="dropdown-toggle animated bounceIn" href="#/browse"><span style="cursor:pointer">Sort By</span>
                    <span class="caret"></span></a>
                <div class="dropdown-content">
                    <a href="#/sortBy/imdbRating">IMDB Rating</a>
                    <a href="#/sortBy/imdbVotes">IMDB Votes</a>
                    <a href="#/sortBy/year">Year</a>
                </div>
            </li>
            <li ><a href="#/topRatedMovies" class="rated animated bounceIn">Top Rated Movies</a></li>
            <li ><a href="#/topRatedSeries" class="rated animated bounceIn">Top Rated Series</a></li>
        </ul>
        <div class="right-nav pull-right">
            <ul class="nav navbar-nav">
                <li><span class="glyphicon glyphicon-search animated slideInLeft"></span>
                    <input type="search" placeholder="Search  ..with Title">
                </li>
                <li><span class="animated slideInLeft"><img src="https://secure.netflix.com/ffe/profiles/avatars_v2/32x32/PICON_025.png"></span></li>
                <li class="dropdown sort"><span class="username animated slideInLeft">nandan</span>
                    <span class="glyphicon glyphicon-menu-down"></span>
                    <div class="dropdown-content">
                        <a class="cursor-pointer" ng-click="navBarVm.logout()">Log Out</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</nav>