<div class="login-div">
<nav class="navbar navbar-default nav-style-home text-center">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand title" href="#/home    ">TITLEFLIX</a>
        </div>
    </div>
</nav>
<div class="login-form">
    <div class="login-content">
        <h1>Sign In</h1>
        <form role="form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="login-forgot-password">
                Forgot your email or password?
            </div>
            <div class="checkbox">
                <label><input type="checkbox"> Remember me on this device.</label>
                <a href="#">
                    <span class="glyphicon glyphicon-question-sign"></span>
                </a>
            </div>
            <a class="sign-in-btn"  href="../../view/user/browse.html">Sign In</a>
        </form>
        <div class="signUp-link">New to Netflix?<a href="#/signup">Sign up now.</a></div>

    </div>

</div>
</div>