<div class="signup-div">
<nav class="navbar navbar-default nav-style-home text-center">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand title" href="#/home">TITLEFLIX</a>
        </div>
        <ul class="nav navbar-nav pull-right">
            <li><a class="sign-in-nav" href="#/signin">Sign In</a></li>
        </ul>
    </div>
</nav>
<div class="login-form">
    <div class="login-content">
        <h2>Sign up to start the Application</h2>
        <form role="form" name="signUpForm" ng-submit="signUpVm.createUser()" novalidate>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" ng-model="signUpVm.newUser.email" id="email"  name="email" required>
                <div ng-messages="signUpForm.email.$error" class="error" ng-if="signUpForm.email.$dirty">
                    <p ng-message="required">This field cannot be empty</p>
                    <p ng-message="email">Enter a valid email Id</p>
                </div>
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" ng-model="signUpVm.newUser.password" id="pwd" name="pwd" required minlength="5">
                <div ng-messages="signUpForm.pwd.$error" class="error" ng-if="signUpForm.pwd.$dirty">
                    <p ng-message="required">This field cannot be empty</p>
                    <p ng-message="minlength">minimum length of 5 characters is required</p>
                </div>
            </div>
            <div class="form-group">
                <label for="pwd">Username</label>
                <input type="text" class="form-control" ng-model="signUpVm.newUser.userName" id="username" name="username" required minlength="4">
                <div ng-messages="signUpForm.username.$error" class="error" ng-if="signUpForm.username.$dirty">
                    <p ng-message="required">This field cannot be empty</p>
                    <p ng-message="minlength">minimum length of 4 characters is required</p>
                </div>
            </div>
            <button class="register" type="submit" ng-disabled="signUpForm.$invalid">Register</button>
        </form>
        <div class="signIn-link">Have a Netflix account? <a href="#/signin">Sign in now.</a></div>

    </div>

</div>
</div>