<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../style/user/sinup.css">
</head>
<body>
<nav class="navbar navbar-default nav-style text-center">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="../../view/user/home.html">TITLEFLIX</a>
        </div>
        <ul class="nav navbar-nav pull-right">
           <li><a href="../../view/user/login.html"><button class="btn-signin">Sign In</button></a></li>
        </ul>
    </div>
</nav>
<div class="login-form">
    <div class="login-content">
        <h3>Sign up to start the Application</h3>
        <form role="form">
            <div class="form-group">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email">
            </div>
            <div class="form-group">
                <label for="pwd">Password</label>
                <input type="password" class="form-control" id="pwd">
            </div>
            <div class="form-group">
                <label for="pwd">Username</label>
                <input type="text" class="form-control" id="username">
            </div>
            <button class="btn">Register</button>
        </form>
        <div class="signIn-link">Have a Netflix account? <a href="../../view/user/login.html">Sign in now.</a></div>

    </div>

</div>

</body>
</html>