body{
background-color: #141414;
}
.bg-image{
    background-image: url("../../image/PopcorntimeDummy.JPG");
    min-height: 600px;
    background-position:center;
    position: relative;
    opacity: .4;
    width: 100%;
    height: 0px;
    }

.img-box{
    width: 100%;
    overflow:hidden;
}
@keyframes zoom-here {
    0%{
        opacity: .4;
        transform: scale(1);
    }
    100%{
        opacity: .4;
        transform:  scale(1.2);
    }
}
.zoom-here{
    animation-name: zoom-here;
    animation-duration: 10s;
}
.nav-style {
    background-color: transparent;
    border: transparent;
    height: 5%;
    margin: 0px;
}
.navbar-header{
    padding-left: 60px;

}
.navbar-brand{
    margin-top: 10px;
    padding-top: 10px;
    color: red !important;
    font-size: xx-large;
}
.btn{
    margin-top: 0px;
    border-style:none;
    color: white;
    margin-right: 60px;
    width: 70%;
    text-decoration: none;
    background-color: red;
    float: left;
}
.navbar-nav li{
    margin: 0px;
}
.btn:hover{
    color: white;
}
footer{
    margin-top: 5%;
}
footer li{
    list-style-type: none;
    width: 20%;
    float: left;
    margin-left: 4%;
    margin-right: 1%;
    margin-top: 1%;
}

footer li a{
    color: #999;
    font-size: 1em;
}
footer li a:hover{
    color: #999;
}
.clear-fix{
    content: ".";
    height: 50px;
    display: block;
    width: 80%;
    visibility: hidden;
}
.copyright{
    color: white;
}