.pic{
    width: 100px;
    background-color: white;
}
.container{
    margin-top: 5%;
}
.row{
    margin-left: 0;
}
img{
    width: 70%;
}
.thumbnail{
    padding: 0 0 0 0;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}
.thumbnail img {
    width: 100%;
    height: 100%;
}
.defination{
    font-weight: bolder;
    color: white;
}
em{
    font-weight: bold;
    color: #797979;
}
.title{
    font-weight: bolder;
    color: #c7bebe;
}
.imdb-poster{
    width: 100px;
}
.reviews{
    margin-top: 1%;
}
.reviews h3{
    color: #c7bebe;
}
.create-comment{
    position: relative;
    height: 400px;
}
.c-comment{
    position: absolute;
    top: 0;
    left: 0;
}
.c-textarea{
    background-color: #777373;
    color: white;
    border-style: none;
    height: 100px;
    width: 100%;
}
.c-rating{
    position: absolute;
    width: 35%;
    height: 45px;
    top: 0;
    right: 0;
    border: 1px  white;
    border-style: none;
    background-color: #777373;
}
 .star{
     width: 5px;
 }
 .submit{
     margin-top: 20px;
 }
 .bg-color{
     padding: 0;
     height: 20px;
     width: 22%;
     background-color: #777373;
 }
 .comments p{
  color: #a09d9d;
     font-size: small;

 }
 .comment-heading{
     margin-right: 20px;
     display: inline;
     color: white;
     font-size: small;
 }
 .comments{
     background-color: #141414;
 }
 .comment-row{
     margin-bottom: 20px;
 }
 hr{
     border-color:#777373 ;
 }
.glyphicon-user{
    font-size: xx-large;
    color: white;
}
.col-sm-1{
    padding: 0px;
}
.col-sm-11{
    padding-left: 0px;
}
.avg{
    color: #777373;
}