.container{
    margin-top: 3%;
}
h2{
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    font-family: "Cooper Black";
    color: #E50914;
}
label{
    color: #c7bebe;
}
.form-control{
    background-color: #a09d9d;
}
.btn{
    background-color: #E50914;
    color: white;
    border-style: none;
    width: 60%;
    height: 100%;
    margin-top: 2%;
    margin-left: 5%;
    font-weight: bold;
    font-size: large;
    transition: background-color 2s;
}
.btn:hover{
    color: red;

}
.form-control{
    color: white;
}