
.nav-style {
    background-color: #141414;
    border: transparent;
    height: 5%;
    margin: 0px;
    opacity: .8;
}
.navbar-header{
    padding-left: 10px;

}
.cursor{
    cursor: pointer;
}

.navbar-nav li a{
    font-size: large;
}
.navbar-header a{
    margin-left: 0px;
    padding-left: 0px;
}
.navbar-brand{
    margin-top: 10px;
    padding-top: 10px;
    color: red !important;
    font-size: 3em;
    font-weight: bolder;
}
.right-nav{
    margin-top: 15px;
}
li button{
    margin-right: 15px;
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: medium;
}
.username{
    margin-top: 5px;
    margin-left: 10px;
    color: white;
    font-weight: 700;
    padding-top: 1em;
}
input[type=search]{
    margin-right: 50px;
    color: white;
    width: 70px;
    box-sizing: border-box;
    border: transparent;
    border-radius: 4px;
    font-size: 16px;
    background-color: transparent;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}
.glyphicon-menu-down{
    margin-right: 40px;
    margin-left: 5px;
    margin-top: 3px;
    color: white;
}
.right-nav{
    display: inline;
}

input[type=search]:focus {
    width:70%;
    border-color: white;
}
.glyphicon-search{
    margin-right: 5px;
    color: white;
}
.dropdown-toggle{
    color: #E50914 !important;
    font-weight: bolder;
    font-size: medium;
    background-color: #141414;
}
.dropdown-menu{
    background-color: black;
    color: white;

}
.dropdown-menu li a{
    color:white;
    font-size: large;
    font-weight: bold;
}
.sort a{
    color: red !important;
}
.rated {
    font-weight: 300 !important;
    color: white !important;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: black;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    color: white !important;
    padding: 5px 16px;
    text-decoration: none;
    display: block;
    font-weight: bold;
    text-align: left;
}

.dropdown-content a:hover {
    color:black !important;
    background-color: whitesmoke;

}
.dropdown:hover .dropdown-content {
    display: block;
}